<section class="main-footer">
  <div class="container">
    <div class="footer-contact">
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/Schaubs-Flowers-Gifts-191179509841/" class="btn-social btn-outline"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="mailto:schaubsflowers@bellsouth.net" class="btn-social btn-outline"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li><a href="https://www.pinterest.com/schaubsflowers/" class="btn-social btn-outline"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/schaubsflowers/" class="btn-social btn-outline"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
      <a href="index.html" class="footer-logo"><img src="images/main/ck-logo-wht.png" alt="Cotton &amp; Kudzu logo" /></a>
    </div><!--.social-icons-->
  </div><!--.container-->
</section>