  <nav class="container">
    <div class="row">
    <div class="col-md-4 ck-logo">
      <a href="index.html" class="main-logo"><img src="images/main/ck-logo-blk.png" alt="Cotton &amp; Kudzu logo" /></a>
    </div><!--.ck-logo-->
    <div class="col-md-8 nav-list">
      <ul>
        <li><a ui-sref="base">Home</a></li>
        <li><a ui-sref="base.main-shop">Shop</a></li>
        <li><a ui-sref="base.main-blog">Blog</a></li>
        <li><a ui-sref="base.main-about">About Us</a></li>
        <li><a ui-sref="base.main-contact">Contact Us</a></li>
        <li>
          <a ui-sref="base.main-cart" class="dropdown-trigger" toggle-class="is-active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> (0)</a>
          <bs-dropdown-menu title="cart">
            <div class="dropdown-menu__container">
              cart dropdown
            </div>
          </bs-dropdown-menu>
        </li>
      </ul>
    </div><!--nav-list-->
  </div>
  </nav>
