  <nav class="container">
    <div class="one-half ck-logo">
      <a href="index.html" class="main-logo"><img src="images/main/ck-logo-wht.png" alt="Cotton &amp; Kudzu logo" /></a>
    </div><!--.ck-logo-->
    <div class="one-half nav-list">
      <ul>
        <li><a ui-sref="base">Home</a></li>
        <li><a ui-sref="base.main-shop">Shop</a></li>
        <li><a ui-sref="base.main-blog">Blog</a></li>
        <li><a ui-sref="base.main-about">About</a></li>
        <li><a ui-sref="base.main-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> (0)</a></li>
      </ul>
    </div><!--nav-list-->
  </nav>
