// Grid Stylesheet
// ========================================
.container {
   margin-right: auto;
   margin-left: auto;
   position: relative;
}

.container:before,
.container:after {
   content: " ";
   display: table;
}

.container:after {
   clear: both;
}

.one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
}

/* media queries */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .one-half {
    width:46%;
  }

}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  
  .one-third {
    width:25%;
    margin-right: 1.25%;
  }
  
  .one-fourth {
    width:18%;
    margin-right: 1.25%;
  }

}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 1920px;
  }
}