.main-shop-header {
  height: 500px;
  background: linear-gradient(rgba(91, 91, 91, 0.75), rgba(91, 91, 91, 0.75)), url('/images/shop/cb-mushrooms.jpg') no-repeat center center;
  position: relative;
  margin-bottom: 40px;

  h1 {
    color: $white;
    font-size: 4em;
    font-weight: 300;
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
}

.shop-headline {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

.product-wrapper {
  margin-bottom: 30px;
}

.item-info {
  text-align: center;
}

.product-border, .home-img-border {
  background-color: $lighter-blue;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 4px 5px #ddd;

  img {
    width: 100%;
  }
}

.category-links {
  margin: 0px 0 40px;
  font-size: 20px;
}

.product-thumbs li {
  display: inline;
}
.product-thumbnail {
  width: 75px;
}

.product-title {
  font-size: 36px;
}

.product-price {
  font-family: $main-sans-serif;
  font-size: 30px;
  line-height: 1.75em;
}

.divider {
  border: 0;
  height: 1px;
  background-color: $dark-blue;
}

.cart-btn {
  border: none;
  border-radius: 4px;
  background-color: $crimson-red;
  padding: 15px;
  margin-top: 30px;
  
  a {
    color: $white;
    font-size: 1.25em;
  }
}