.main-shop-header {
  height: 400px;
  background: linear-gradient(rgba(91, 91, 91, 0.75), rgba(91, 91, 91, 0.75)), url('/images/shop/cb-mushrooms.jpg') no-repeat center center;
  position: relative;
  margin-bottom: 40px;

  h1 {
    color: $white;
    font-size: 4em;
    font-weight: 300;
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
}

.product-wrapper {
  text-align: center;
}

.product-border {
  background-color: $light-blue;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

.category-links {
  margin: 40px 0;
  font-size: 20px;
}

.product-thumbs li {
  display: inline;
}
.product-thumbnail {
  width: 75px;
}

.product-title {
  font-size: 36px;
}

.product-price {
  font-family: $main-sans-serif;
  font-size: 30px;
  line-height: 1.75em;
}

.divider {
  border: 0;
  height: 1px;
  background-color: $dark-blue;
}