// Select Input Component
// ========================================

// Variables
$select-background-size:             10px;
$select-background-position-mobile:  97%;
$select-background-position:         95%;
$select-background-url:              '../../images/icons/dropdown-icon.svg';


// Structure
select{
  @include font-type($primary-sans-serif, normal, 400);
  background-image: url($select-background-url);
  background-position: $select-background-position-mobile;
  background-repeat: no-repeat;
  background-size: $select-background-size;

  @include media($tablet) { background-position: $select-background-position; }

  &.select__small {
    @include rem(width, 125px);
    background-position: $select-background-position;
  }
}


// Specfic Selects
.select__time {
  @include rem(width, 60px);
  background-position: 85%;
  background-size: 15px;
}

.select__time-separator {
  margin: 0 10px;
}
