<section class="main-shop-header">
  <h1>concrete botanicals</h1>
</section>

<section class="main-store">
  <div class="container">
    <div class="one-fourth store-sidebar">
      <h3>Shop</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div><!--.store-sidebar-->
    <div class="product-grid">
      <div class="one-fourth product-wrapper">
        <div class="product-border">
          <img src="/images/products/caladium1.jpg" class="product-image">
        </div>
        <p class="item-title">Caladium Leaf</p>
        <p class="item-price">$35.00</p>
      </div>

      <div class="one-fourth product-wrapper">
        <div class="product-border">
          <img src="/images/products/caladium1.jpg" class="product-image">
        </div>
        <p class="item-title">Caladium Leaf</p>
        <p class="item-price">$35.00</p>
      </div>

      <div class="one-fourth product-wrapper">
        <div class="product-border">
          <img src="/images/products/caladium1.jpg" class="product-image">
        </div>
        <p class="item-title">Caladium Leaf</p>
        <p class="item-price">$35.00</p>
      </div>

      <div class="one-fourth product-wrapper">
        <div class="product-border">
          <img src="/images/products/caladium1.jpg" class="product-image">
        </div>
        <p class="item-title">Caladium Leaf</p>
        <p class="item-price">$35.00</p>
      </div>
    </div><!--.product-grid-->
  </div><!--.container-->
</section>