<section class="main-store">
  <div class="container">
    <div class="page-container">

  <div class="shop-headline">
    <h2>shop cotton & kudzu</h2>
  </div>

  <div class="row">
    <div class="category-links">
      <div class="row home-row">
        <div class="col-md-6 row-img-box">
          <div class="product-border">
            <a ui-sref="base.shop-paintings"><img src="/images/shop/paintings.jpg" class="row-img"></a>
            <h3>paintings</h3>
          </div>
        </div>
        <div class="col-md-6 row-img-box">
          <div class="product-border">
            <a ui-sref="base.shop-concrete"><img src="/images/shop/concrete.jpg" class="row-img"></a>
            <h3>concrete</h3>
          </div>
        </div>
      </div>

      <div class="row home-row">
        <div class="col-md-6 row-img-box">
          <div class="product-border">
            <a ui-sref="base.shop-decor"><img src="/images/shop/home-decor.jpg" class="row-img"></a>
            <h3>home decor</h3>
          </div>
        </div>
        <div class="col-md-6 row-img-box">
          <div class="product-border">
            <a ui-sref="base.shop-garden"><img src="/images/shop/garden.jpg" class="row-img"></a>
            <h3>garden</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--.main-store-->