<div class="row">

      <div class="col-md-3 store-sidebar">
        <p class="sidebar-head">Categories</p>
        <ul class="sidebar-list">
          <li><a href="#" class="sidebar-list-item">Category 1</a></li>
          <li><a href="#" class="sidebar-list-item">Category 2</a></li>
          <li><a href="#" class="sidebar-list-item">Category 3</a></li>
          <li><a href="#" class="sidebar-list-item">Category 4</a></li>
        </ul><!--.sidebar-list-->
      </div><!--.store-sidebar-->

      <div class="col-md-9 product-grid">
        <bs-marketing-product-list></bs-marketing-product-list>
      </div><!--.product-grid-->

    </div><!--.row-->
  </div>
  </div><!--.container-->