// Colors
// ========================================

$dark-blue: #276169;
$dark-brown: #434128;
$light-blue: #abcecc;
$lighter-blue: #e7f8f7;
$medium-gray: #9c9c98;
$light-gray: #cae4e3;
$crimson-red: #8b181b;
$white: #ffffff;