<section
  role="region"
  class="page__view"
  ui-view="view">

  <div class="container">
    <div class="page-container">
    <div class="row">
      <a ui-sref="base.main-shop">
        <div class="col-md-12 home-img">
        <div class="product-border">
          <img src="/images/main/inside-store1.jpg">
        </div>
        <h1>fine. funky. local.</h1>
      </div>
      </a>
    </div>

    <div class="site-links">
      <div class="row home-row">
        <div class="col-md-6 row-img-box">
          <a ui-sref="base.main-shop"><img src="/images/main/inside-store2.jpg" class="row-img"></a>
          <h3>shop</h3>
        </div>
        <div class="col-md-6 row-img-box">
          <a ui-sref="base.main-blog"><img src="/images/main/inside-store3.jpg" class="row-img"></a>
          <h3>blog</h3>
        </div>
      </div>

      <div class="row home-row">
        <div class="col-md-6 row-img-box">
          <a ui-sref="base.main-about"><img src="/images/main/inside-store4.jpg" class="row-img"></a>
          <h3>about us</h3>
        </div>
        <div class="col-md-6 row-img-box">
          <a ui-sref="base.main-contact"><img src="/images/main/inside-store1.jpg" class="row-img"></a>
          <h3>contact us</h3>
        </div>
      </div>
    </div>

    <div class="about-section">
      <div class="row about-row">
        <div class="col-md-4">
          <div class="product-border">
            <img src="/images/main/storefront.jpg">
          </div>
        </div>

        <div class="col-md-8">
          <h4>about cotton & kudzu</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae libero iaculis dui rhoncus vulputate vitae id tellus. Praesent semper nulla eu hendrerit ullamcorper. Donec in libero vitae arcu bibendum interdum in ac mi. Ut semper lorem vitae felis vulputate, sit amet maximus elit rutrum. Integer enim erat, cursus sed vulputate nec, vulputate at metus. Praesent ac dui eget ante pretium congue. Cras sollicitudin laoreet dictum.</p>
          <p>Praesent hendrerit efficitur dolor. Nam non magna lacus. Sed feugiat vehicula maximus. Integer tincidunt quam vitae ipsum bibendum tincidunt. Donec facilisis ut ante at posuere. Curabitur malesuada enim eget libero egestas, sit amet elementum urna rhoncus. Vestibulum eu blandit eros. Donec ligula eros, feugiat eu lectus id, ullamcorper malesuada nunc. Integer lacinia rutrum lorem vel rutrum. Curabitur iaculis leo et nisl condimentum, nec consectetur est ornare. Donec finibus vehicula diam, id fringilla mauris elementum vel. Proin vel magna diam. Proin lobortis odio porta ex euismod consectetur. Morbi at dapibus mauris, eu accumsan metus. Ut eu dictum lacus, sed consectetur ipsum.</p>
        </div>
      </div>
    </div>

  </div>

  </div>


</section>